.ks-banner {
    color: black;
    text-align: left;
    padding: 32px;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.ks-banner img {
    flex-basis : auto;
    height: 68px;
}

.nav {
    text-decoration: none;
    width: 25%;
    color: #FF6060;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FF6060;
    list-style: none;
}

.nav-items {
    margin-left: 15px;
    text-decoration: none;
    color: #FF6060;
}

.nav-list :hover {
    text-decoration: underline;
}

@media (max-width : 768px) {
    .ks-banner {
        max-width: 768px;
    }

    .ks-banner img {
        flex-basis: auto;
    }

    .nav {
        font-size: 10px;
    }
}