.ks-banner {
    color: black;
    text-align: left;
    padding: 32px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 30%;
    color: #FF6060;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #FF6060;
}

.nav-items {
    list-style: none;
    margin-left: 15px;
    text-decoration: none;
    color: #FF6060;
}
