.ks-banner {
    color: black;
    text-align: left;
    padding: 32px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    flex-direction: row;
}

.nav-items {
    text-decoration: none;
}
