.ks-first_image-container {
    width: 90%;
    height: 223px;
    border-radius: 10px;
    box-shadow: 3px 4px 6px 5px #0000002e;
    margin: auto;
    margin-bottom: 60px;
    background-color: black;
}

.ks-first_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
}

.ks-first_image-h1 {
    color: white;
    position: relative;
    text-align: center;
    top: -80%;
    bottom: 69.04%;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 68.45px;
}

.ks-img_apropos-container {
    width: 90%;
    height: 223px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 4px 6px 5px #0000002e;
    margin-bottom: 30px;
    background-color: black;
}

.ks-img_apropos {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
}

@media (max-width: 768px) {
    .ks-first_image-h1 {
        text-align: start;
        font-size: 40px;
        margin-left: 5%;
    }
}
