.ks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ks-appartment-list {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    background: #F7F7F7;
    border-radius: 25px;
    margin-left: 100px;
    margin-right: 100px;
}

.ks-appartment-item {
    flex-basis: 25%;
    height: 250px;
    margin: 50px;
    display: flex;
    text-align: flex-start;
    align-items: flex-end;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 25.67px;
    font-size: 15px;
    color: white;
    background: linear-gradient(180deg, #FF6060 0%, #9a3838 80%);
    box-shadow: 3px 4px 6px 5px #0000002e;
    border-radius: 10px;
}

.appartment_cover {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}