.ks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.ks-appartment-item {
    width: 280px;
    height: 250px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    text-align: flex-start;
    align-items: flex-end;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: white;
    box-shadow: 3px 4px 6px 5px #0000002e;
    text-decoration: none;
    border-radius: 10px;
}

.ks-card {
    background: linear-gradient(180deg, #FF6060 0%, #9a3838 80%);
    border-radius: 10px;
}

.card-title {
    padding: 10px 0px 10px 10px;
}

.appartment_cover {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 768px) {
}